/* Fall back content */

#noscript {
    margin: 1em;
}

/* General Layout */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 content;
}

main {
    flex: 0 0 content;
}

footer {
    flex: 1 0 auto;
}

/* Page header */

header {
    background: url('images/sunrise_ms.jpg') bottom/cover;
    padding: 1em;
}

header #mirko {
    width: 35em;
    max-width: 100%;
    margin: 0 auto;
    padding: .5em 2em;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Typography */

* {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}