/*
    Open Sans (Condensed)
    (c) Steve Matteson, license: Apache License 2.0
    https://opensource.org/licenses/Apache-2.0
*/

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/BildItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSans/CondensedLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSans/CondensedBold.ttf');
    font-weight: bold;
    font-style: normal;
}
