body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a, a:hover {
    color: #960;
}

footer a, footer a:hover {
    color: #ca7;
}

.jumbotron {
    background-image: url('../images/sunrise_ms.jpg');
    background-size: cover;
    background-position: bottom;
}

.jumbotron.jumbopure {
    background-position: top;
    border-bottom: .3em solid black;
}

.jumbotron .container {
    background-color: rgba(255,255,255,0.8);
    padding: 2em 3em;
}

.jumbotron h1 img {
    height: 1.1em;
    width: 1.1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    margin-right: .2em;
    vertical-align: top;
}

.jumbotron #social {
    margin-top: 1.2em;
}

.jumbotron #social a {
    text-decoration: none;
}

.jumbotron #social img {
    height: 1.8em;
    width: 1.8em;
    margin-right: .5ex;
}

.jumbotron #pgp {
    font-size: 1em;
}

.jumbotron #pgp .fingerprint {
    font-family: monospace;
}

main li {
    margin-bottom: .5em;
}

footer {
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid lightgrey;
    color: #aaa;
}

footer #copyright {
    margin-bottom: 1.5em; /* necessary in sm/xs */
}

footer .social a {
    text-decoration: none;
}

footer .social img {
    height: 1.5em;
    width: 1.5em;
    margin-right: 2ex;
}
