html, body {
    min-height      : 100vh;
    margin          : 0;
    padding         : 0
}

body {
    font-family     : 'Noto Sans', sans-serif;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    background      : #009dd1 url('../images/bg-wwu.png') no-repeat bottom right;
    background-size : 80%;
}

main {
    display         : flex;
    flex-flow       : row wrap;
    max-width       : 800px;
    box-shadow      : 0 20px 40px 0 rgba(0,0,0,0.4);
    margin          : 1rem;
    background-color: rgba(255, 255, 255, .7);
    color           : black;
}

#header  {
    flex            : 1 0 200px;
    text-align      : center;
    display         : flex;
    flex-flow       : column;
    align-items     : center;
    justify-content : center;
}

#content {
    flex            : 2 1 auto;
    background-color: rgba(255, 255, 255, 0.5);
}

#header, #content {
    padding         : 2rem;
}

#header #slogan {
    font-style      : italic;
}

#content h1, #content a:link, #content a:visited {
    color           : #00578a;
}

#content h1 {
    font-weight     : normal;
    margin-top      : 0;
}

#content hr {
    border          : none;
    border-top      : thin solid #00578a;
    margin          : 1.5em 0
}

#content .links a {
    margin          : 0 .8em;
}

#content .links img {
    width           : 2.5em;
    height          : 2.5em;
}

#content .pgp {
    font-size       : .9rem;
    color           : #666;
}

#content .pgp p {
    margin          : 2em 0 0;
}

#content .pgp a {
    color           : #666 !important;
}
