/* Reset browser stylesheets */
@import url('reset.css');

/* Load font definitions */
@import url('font-opensans.css');

/* Reset: but please this */
* {box-sizing: border-box}
img {vertical-align: middle}

/* General Layout */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 content;
}

main {
    flex: 0 0 content;
}

footer {
    flex: 1 0 auto;
}

/* Make it bigger on wide screens */
@media (min-width: 95em) {
    header, main, footer {
        font-size: 1.3em;
        line-height: 1.45em;
    }
}

/* Page header */

header {
    background: url('../images/sunrise_ms.png') bottom/cover;
    padding: 3em 3em 2em;
}
@media (max-width: 30em) { header {padding: 1em} }

header #mirko {
    width: 42em;
    max-width: 100%;
    margin: 0 auto;
    padding: .1em 1.5em 1em;
    background-color: rgba(255, 255, 255, 0.9);
}

#mirko > p:first-child img {
    float: right;
    margin: 0 0 1em 1em;
    width: 9rem;
    border: thin solid lightgrey;
}
@media (max-width: 42em) {
    #mirko > p:first-child img {width: 6rem}
}
@media (max-width: 30em) {
    #mirko > p:first-child {text-align: center}
    #mirko > p:first-child img {float: none; margin: 0}
}

#mirko a {
    color: black;
}

header img[src*=icons] {
    height: 2.2em;
    margin: .3em;
}

header a:link img[src*=icons],
header a:visited img[src*=icons] {
    opacity: .5;
}

header a:hover img[src*=icons],
header a:active img[src*=icons] {
    opacity: 1;
}

/* Section content fluid "cards" */

main {
    background: linear-gradient(to bottom, black 0%, #111 10%, #222 100%);
    padding: 1.5em 2em 2.5em;
}
@media (max-width: 30em) { main {padding: .5em .5em 2.5em} }

#sections {
    max-width: 100em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#sections section {
    flex: 1 1 calc(65em * 999 - 100% * 999);
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    background: #eee;
    color: #222;
    box-shadow: 0 .1em .3em black;
}
@media (min-width: 80em) { #sections section {margin: 1.5em} }
@media (max-width: 30em) { #sections section {margin: .5em} }

#sections section a {
    color: black;
}

#sections section:nth-child(even) {
    flex-direction: row-reverse;
}

#sections section:nth-child(odd) {
    background-color: #444;
    color: #ddd;
}

#sections section:nth-child(odd) a {
    color: white;
}

#sections section > * {
    flex: 1 1 18em;
}

.section-head img {
    max-width: 100%;
}

.section-content {
    padding: .1em 1.5em 1em;
}

.section-content p:last-child a {
    text-decoration: none;
}

.section-content a img[src*=icons] {
    height: 1.6em;
    vertical-align: bottom;
    margin: 0 .2em;
}

#sections section:nth-child(odd) img[src*=icons] {
    filter: invert(1);
}

/* Footer */

footer {
    box-shadow: inset 0 .1em .3em black;
    background: #333;
    background: linear-gradient(to bottom,#262626 0%, #383838 100%);
    padding: 2em 3.5em 4em;
    color: #aaa;
    font-size: .9em;
    line-height: 1.3em;
}
@media (max-width: 30em) { footer {padding: 1.5em 2em 2em} }

footer a {
    color: #ccc;
}

footer p {
    margin: .8em 0;
}

footer h2, footer h3 {
    margin: 1.5em 0 1em;
}

footer hr {
    margin: 2em 0;
    border-style: solid;
    border-color: #555;
    border-width: 0 0 thin;
}

#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 97em;
    margin: 0 auto;
}

#footer > * {
    margin: .5em 1.5em;
}

#footer-copyright {flex: 0 0 content}
#footer-legal {flex: 1 1 content; max-width: 42em}
#footer-icons {flex: 0 0 content}

#footer-icons a {
    text-decoration: none;
    color: #ccc;
}

#footer-icons img[src*=icons] {
    height: 1.7em;
    margin: .7em;
    filter: invert(1);
}
#footer-icons a:first-child [src*=icons] {margin-left: 0}
#footer-icons a:last-child [src*=icons] {margin-right: 0}

footer a:link img[src*=icons],
footer a:visited img[src*=icons] {
    opacity: .5;
}

footer a:hover img[src*=icons],
footer a:active img[src*=icons] {
    opacity: 1;
}

/* Typography */

body {
    font-family: 'Open Sans', monospace; /* TODO */
    font-weight: normal;
    line-height: 1.45em !important;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', monospace; /* TODO */
    font-weight: bold;
    margin: .9em 0 .7em;
}

h1 { font-size: 2.2em }
h2 { font-size: 1.6em }
h3 { font-size: 1.5em }
h4 { font-size: 1.3em }

p {
    margin: 1em 0;
}

strong, b {
    font-weight: bold;
}
