<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mirko Westermeier</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#ffeaba">
    <link rel="icon" href="images/icon.png" type="image/png">
    <link rel="stylesheet" href="style/screen.css" media="screen">
</head>
<body>

    <header>
        include(mirko)
    </header>

    <main>
        <div id="sections">
            include(sections/dh)
            include(sections/dance)
            include(sections/software)
        </div>
    </main>

    <footer>
        <div id="footer">
            include(footer/copyright)
            include(footer/legal)
            include(footer/icons)
        </div>
    </footer>

</body>
</html>
